<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<AppSettings>
		<add key="logPath" value="C:\Users\Balasubramanian\OneDrive\Balaji\.Net Projects\First Project\First Project\bin\Debug\net8.0\logs\errorlog.txt"/>
		<add key="logPath" value="C:\Users\Balasubramanian\OneDrive\Balaji\.Net Projects\First Project\First Project\bin\Debug\net8.0\logs\infolog.txt"/>
	</AppSettings>
</configuration>